.wrap-input {
    .iti {
        width: 100%;
    }
    .iti__selected-flag {
        background-color: transparent
    }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
        background-color: transparent
    }

    .iti__flag {
        zoom: 1.5;
    }

    .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
        outline: unset;
    }

    .iti--allow-dropdown input, .iti--allow-dropdown input[type=tel], .iti--allow-dropdown input[type=text], .iti--separate-dial-code input, .iti--separate-dial-code input[type=tel], .iti--separate-dial-code input[type=text] {
        padding-left: 160px;
    }

    .iti__arrow {
        padding-left: 16px;
        border: 0;
        background-image: url(../medias/icons/arrow-down.png);
        background-repeat: no-repeat;
        height: 70px;
        width: 16px;
        background-position-x: 90%;
        background-position-y: 50%;
        background-size: 16px 16px;
    }

    .iti__selected-flag {
        outline: unset;
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        height: 70%;
        padding: 0 15px 0 30px;
        border-right: 1px solid;
        margin-top: 12px;
    }

    .iti__flag-box, .iti__country-name {
        margin-right: 25px;
    }

    @media only screen and (max-width : @screen-sm-max) { 
        .iti__selected-flag {
            margin-top: 7px;
        }
    
    }
}





