@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal; // 400
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold; // 700
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  color: @color-black;
  font-size: @fs-14;
  line-height: 1.29;

  @media screen and (min-width: @screen-sm-min) {
    font-size: @fs-16;
    line-height: 1.19;
  }
}

.h2 {
  font-weight: 800;
  margin-top: 0;
  font-size: @fs-34;
  line-height: 1.12;

  @media screen and (min-width: @screen-sm-min) {
    font-size: @fs-56;
    line-height: 1.25;
  }
}

.h3 {
  margin-top: 0;
  font-size: @fs-30;
  line-height: 1.27;
  font-weight: 800;

  @media screen and (min-width: @screen-sm-min) {
    font-size: @fs-36;
    line-height: 1.39;
    font-weight: bold;
  }

  @media screen and (min-width : @screen-md-min) {
    font-size: @fs-30;
    line-height: 1.27;
    font-weight: 800;
  }

  @media screen and (min-width : @screen-xlg) {
    font-size: @fs-36;
    line-height: 1.39;
    font-weight: bold;
  }
}

.h4 {
  font-size: @fs-22;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 0;
  @media screen and (min-width : @screen-sm-min) {
    font-size: @fs-26;
    line-height: 1.3;
  }

  @media screen and (min-width : @screen-md-min) {
    font-size: @fs-22;
  }

  @media screen and (min-width : @screen-xlg) {
    font-size: @fs-26;
  }
}

.h5 {
  font-size: @fs-15;
  line-height: 1.48;
  font-weight: bold;
  margin-top: 0;
  @media screen and (min-width: @screen-sm-min) {
    font-size: @fs-25;
  }
}

.h6 {
  margin-top: 0;
  font-size: @fs-16;
  line-height: 1.5;

  @media screen and (min-width : @screen-sm-min) {
    font-size: @fs-18;
    line-height: 1.4;
  }
}

.title-normal {
  font-size: @fs-26;
  line-height: 34px;
  font-weight: bold;
  @media screen and (max-width : @screen-sm-max) {
    font-size: @fs-22;
    line-height: 27px;
  }
}

.text-center {
  text-align: center!important;
}

.fw-bold {
  font-weight: bold!important;
}

.fw-bolder {
  font-weight: 800!important;
}

.text-primary {
  color: @color-primary!important;
}