.container-fluid {
  padding: 0 20px;
  @media screen and (min-width: 1024px) {
    padding: 0 5%;
  }
}

.cornflower-bg {
  background-image: url("@{mediaPath}/banner-bg.png");
  background-color: #ecf2fe;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.df-vertical-align {
  display: flex;
  align-items: center;
}

.t-a-left {
  text-align: left;
}

.t-a-right {
  text-align: right;
}

.open-menu {
 display: block !important;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

.show-sub-list-menu {
  height: auto !important;
}

.text-same-height {
  min-height: 86px;
  display: flex;
  align-items: center;
  @media screen and (max-width: @screen-sm-max) {
    min-height: 57px;
  }
  @media screen and (max-width: @screen-xs-max) {
    min-height: auto;
  }
}