@mediaPath: ~"../medias";
@fonts: "../fonts";
// Media queries breakpoints

// Extra small screen / phone
@screen-xs-max:              (@screen-sm-min - 1);

// Small screen / tablet
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
@screen-sm-max:              (@screen-md-min - 1);

// Medium screen / desktop
@screen-md:                  992px;
@screen-md-min:              @screen-md;
@screen-md-max:              (@screen-lg-min - 1);

// Large screen / laptop
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
@screen-lg-max:              (@screen-xlg - 1);

// Extra large screen/ monitor
@screen-xlg:                  1367px;

//color
@color-black: #000000;
@color-cod-gray: #1A1A1A;

@color-hawkes-blue: #eff4fe;
@color-blue: #0201FF;

@color-white: #ffffff;
@color-white-lilac: #F4F5FA;

@color-santas-gray: #9c9aaa;
@color-alabaster: #f8f8f8;
@color-mercury: #E9E9E9;

@color-red: #FF0000;

@color-primary: @color-blue;
@color-secondary: @color-black;
@color-button-shadow: @color-mercury;

//font size
@fs-12: 12px;
@fs-14: 14px;
@fs-15: 15px;
@fs-16: 16px;
@fs-18: 18px;
@fs-20: 20px;
@fs-21: 21px;
@fs-22: 22px;
@fs-24: 24px;
@fs-25: 25px;
@fs-26: 26px;
@fs-28: 28px;
@fs-30: 30px;
@fs-34: 34px;
@fs-36: 36px;
@fs-56: 56px;
@fs-60: 60px;
@fs-80: 80px;