.footer {
    background: @color-black 0% 0% no-repeat padding-box;
    &__wrap {
        padding-top: 80px;
        color: @color-white;
        a {
            color: @color-white;
            text-decoration: none;
            &:hover {
                color: @color-white;
                text-decoration: none;
            }
        }
        &--logo {
            @media only screen and (max-width : @screen-sm-max) { 
                text-align: center;
            }
            img {
                width: 258px;
                max-width: 100%;
                margin: 0;
            }

        }
        ul {
            padding: 22px 0;
            margin: 0 ;
            list-style: none;
            text-align: center;

            @media screen and (min-width : @screen-md-min) {
                margin-top: 17px;
                padding: 0;
                display: flex;
                justify-content: center;
                text-align: left;
            }

            @media screen and (min-width : @screen-lg-min) {
                margin-top: 23px;
            }

            li {
                &:not(:last-child) {
                    padding-right: 65px;
                }
                @media only screen and (max-width : @screen-md-max) {
                    &:not(:last-child) {
                        padding-right: 25px;
                    }

                }
                @media only screen and (max-width : @screen-sm-max) {
                    &:not(:last-child) {
                        padding-right: 0;
                        padding-bottom: 22px;
                    }
                }
            }
        }
        &__right {
            margin-top: 17px;
            @media screen and (min-width : @screen-lg-min) {
                margin-top: 23px;
            }
            span {
                margin-right: 28px;
            }
            a {
                margin: 0 3px;
            }
            @media only screen and (max-width : @screen-sm-max) {
                text-align: center;
                margin-top: 0;
                span {
                    display: none;
                }
            }

            img {
                margin: 0px;
                height: 20px;
                width: 20px;
            }
        }
        &__contact {
            text-align: right;
            color: @color-white;
            font-size: @fs-14;
            opacity: 0.51;
            padding-bottom: 80px;
            width: 100%;
            @media only screen and (max-width : @screen-sm-max) {
                margin-top: 22px;
                text-align: center;
            }
        }
    }
}