.main-register {
    background: url("@{mediaPath}/designer-registration-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 42%;
    background-position: 0px -75px;
    padding: 101px 0 117px 0;

    &__wrap {
        margin-top: 28px;
        padding: 59px 53px 97px 67px;
        background: @color-white;
        box-shadow: 0px 3px 80px #1203651D;
        border-radius: 50px;
        font-weight: bold;

        @media only screen and (max-width : @screen-sm-max) {
            padding: 35px 20px 58px;
        }

        .form-check {
            margin-top: 44px;
            .form-check-input {
                outline: 2px solid @color-black;
                outline-offset: -1px;
                float: left;
                width: 25px;
                height: 25px;
                margin-right: 15px;
                margin-top: 0;
                margin-left: 1px;
                @media only screen and (max-width : @screen-sm-max) {
                    outline: 3px solid @color-black;
                    margin-left: 2px;
                }
            }
        }

        &--custom-label {
            font-size: @fs-21;
            letter-spacing: -0.66px;
            color: @color-santas-gray;

            @media only screen and (max-width : @screen-sm-max) {
                font-size: @fs-16;
            }

            b {
                color: @color-black;
            }
        }

        &__btn {
            margin-top: 66px;
            text-align: center;

            .btn {
                padding: 22px 106px 23px 106px;

                @media only screen and (max-width : @screen-sm-max) {
                    width: 100%;
                    padding: 22px 0 23px;
                }
            }
        }
    }
}