.navigation-bar {
    padding: 23px 0;

    &--logo {
        background: url("@{mediaPath}/logos/stm.svg") no-repeat;
        background-size: contain;
        width: 275px;
        height: 69px;
        margin-right: 97px;
        display: block;
    }

    &__container-menu {
        width: 100%;

        &__humberger {
            display: none;
        }

        &__content {
            display: flex;
            align-items: center;
            &--logo {
                display: none;
            }
            &__scale {
                @media only screen and (max-width : @screen-md-max) {
                    padding-right: 0;
                }
            }

            ul {
                list-style: none; 
            }

            &__wrap {
                display: flex;
                color: @color-black;
                padding: 0;
                margin: 0;
                li {
                    padding-bottom: 5px;
                    padding-top: 5px;

                    &:not(:last-child) {
                        margin-right: 50px;
                    }

                    @media only screen and (max-width : @screen-md-max) {
                        &:not(:last-child) {
                            margin-right: 30px;
                        }
                    }

                    a {
                        color: @color-black;
                        text-decoration: none;

                        &:hover {
                            color: @color-black;
                            text-decoration: none;
                        }
                    }

                }

                &__dropdown {
                    position: relative;
                    display: inline-block;

                    .dropbtn {
                        cursor: context-menu;
                        padding-bottom: 5px;

                        .caret {
                            margin-left: 10px;
                            border-top: 6px dashed;
                            border-top: 6px solid\9;
                            border-right: 6px solid transparent;
                            border-left: 6px solid transparent;
                        }
                    }

                    &__sub {
                        display: none;
                        position: absolute;
                        background-color: @color-white;
                        min-width: 194px;
                        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                        z-index: 1;
                        right: 0;
                        top: 30px;
                        border-radius: 0px 0px 10px 10px;
                        border-top: 4px solid @color-blue;
                        padding: 15px 25px;

                        &--text {
                            color: @color-black;
                            padding: 5px 0 !important;
                            text-decoration: none;
                            display: block;
                            font-weight: bold;

                            &:hover {
                                color: @color-blue  !important;
                                text-decoration: none;
                            }
                        }
                    }

                    &:hover &__sub {
                        display: block;
                    }
                }
            }

            &__right {
                margin-left: auto;
                padding-left: 10px;
                &--login-text {
                    padding-right: 30px;
                    color: @color-black;
                    text-decoration: none;
                    font-size: @fs-20;
                    vertical-align: middle;

                    @media only screen and (max-width : @screen-md-max) {
                        padding-right: 20px;
                    }

                    &:hover {
                        color: @color-black;
                        text-decoration: none;
                    }
                }
            }
        }
    }


}

@media only screen and (max-width : @screen-sm-max) {
    .navigation-bar {
        &--logo {
            background: url("@{mediaPath}/logos/stm.svg");
            background-size: 203px 51px;
            width: 203px;
            height: 51px;
            display: block;
            margin-right: 0;
        }

        &__container-menu {
            &__content {
                flex-direction: column;
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 10;
                top: 0;
                left: -40px;
                background-color: @color-white;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 23px;
                font-weight: bold;

                &--logo {
                    display: block;
                    width: 100%;
                    margin-left: 20px;
                }

                &__wrap {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    margin: 90px 0 90px 40px;
                    color: @color-black;

                    li {
                        font-size: @fs-20;
                        &:not(:last-child) {
                            padding-bottom: 25px;
                        }

                        a {
                            text-decoration: none;
                            color: @color-black;

                            &:hover {
                                text-decoration: none;
                                color: @color-blue;
                            }

                            &:focus {
                                text-decoration: none;
                                color: @color-blue;
                            }
                        }
                    }

                    &__dropdown {
                        .dropbtn {
                            .caret {
                                border-top: 8px dashed;
                                border-top: 8px solid\9;
                                border-right: 8px solid transparent;
                                border-left: 8px solid transparent;
                            }
                        }
    
                        &__sub {
                            display: block;
                            position: unset;
                            background-color: transparent;
                            min-width: unset;
                            box-shadow: unset;
                            border-radius: unset;
                            border-top: unset;
                            padding: 0 25px 0;
                            list-style: none;
                            -moz-transition: height .5s;
                            -ms-transition: height .5s;
                            -o-transition: height .5s;
                            -webkit-transition: height .5s;
                            transition: height .5s;
                            height: 0;
                            overflow: hidden;
                            &--text {
                                padding: 0 !important;
                            }

                            li {
                                &:nth-child(1) {
                                    padding-top: 25px;
                                }
                            }
                        }
                    }
                }

                &__right {
                    margin-top: auto;
                    padding: 0 40px 50px;

                    &--login-text {
                        font-size: @fs-20;
                        color: @color-black;
                        margin-bottom: 24px;
                    }

                    .btn {
                        background: @color-black;
                        margin-top: 24px;
                        width: 100%;
                    }
                }
            }

            &__hamburger {
                display: block;

                &__btn {
                    margin-left: auto;
                    position: relative;
                    background: @color-blue;
                    height: 43px;
                    width: 43px;
                    border-radius: 50%;
                    right: 0;
                    transition: all .5s ease-out;

                    span {
                        display: block;
                        width: 23px;
                        height: 2px;
                        margin-bottom: 5px;
                        position: relative;
                        left: 10px;
                        top: 14px;
                        background: @color-white;
                        border-radius: 3px;
                        z-index: 1;
                        transform-origin: 4px 0px;
                        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                            opacity 0.55s ease;

                        &:first-child {
                            transform-origin: 0% 0%;
                        }

                        &:nth-last-child(2) {
                            width: 19px;
                            left: 12px;
                            transform-origin: 0% 100%;
                        }
                    }
                }
            }
        }
    }

    .show-content {
        .navigation-bar {
            &__container-menu {
                &__hamburger {
                    &__btn {
                        position: fixed;
                        top: 25px;
                        right: calc(~"92vw - 300px");
                        background: @color-black;
                        z-index: 10;
                    }
                }

                &__content {
                    &:last-child {
                        width: 300px;
                        left: 0;
                    }
                    &__wrap {
                        display: block;
                    }
                }
            }
        }

        span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            top: 4px;
            left: 14px;

            &:nth-last-child(2) {
                width: 23px;
                left: 14px;
                top: 22px;
                transform: rotate(-45deg) translate(0, -1px);
            }

            &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
        }
    }
}

@media only screen and (max-width : @screen-xs-max) {
    .show-content {
        .navigation-bar {
            &__container-menu {
                &__hamburger {
                    &__btn {
                        right: calc(~"90vw - 315px");
                    }
                }
            }
        }
    }
}