.stm-section {
  & + & {
    margin-top: 30px;
    @media screen and (min-width: @screen-md-min) {
      margin-top: 80px;
    }
  }

  &__media {
    img,
    video,
    iframe {
      display: block;
      margin: 0;
      width: 100%;
    }

    @media screen and (min-width: @screen-md-min) {
      width: 55.6%;
    }
  }

  &__info {
    margin-top: -30px;
    padding: 0 20px;
    .card-primary {
      padding: 43px 20px;
      position: relative;
    }

    @media screen and (min-width: @screen-md-min) {
      padding: 0;
      width: 43.75%;
      margin-top: 0;
      margin-right: 5%;
      margin-left: -4.35%;
      .card-primary {
        padding: 55px 75px;
        position: relative;
      }
    }
  }

  @media screen and (min-width: @screen-md-min) {
    display: flex;
    align-items: center;
    position: relative;
    &--revert {
      flex-direction: row-reverse;
    }

    &--revert &__info {
      flex-direction: row-reverse;
      margin-left: 5%;
      margin-right: -4.35%;
    }
  }
}