.suggest {
  text-align: center;
  background: @color-black url("@{mediaPath}/black-bg.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 100px 0;
  color: @color-white;

  &__heading {
    margin-bottom: 45px;
  }

  &__description {
    font-size: @fs-16;
    margin-bottom: 40px;
    @media only screen and (min-width: @screen-sm-min) {
      font-size: @fs-20;
    }
  }

  &__action {
    .btn {
      width: 100%;
      max-width: 375px;
      & + .btn {
        margin-top: 15px;
      }
    }
    @media only screen and (min-width: @screen-sm-min) {
      display: flex;
      justify-content: center;
      .btn {
        min-width: 235px;
        width: auto;
        & + .btn {
          margin-top: 0;
          margin-left: 30px;
        }
      }
    }
  }

  &__alter {
    margin-top: 45px;
    a {
      color: @color-white;
    }
  }
}