.transform-business {
    background: @color-white;
    padding: 80px 0 76px;
    &__heading {
        text-align: center;
        margin-bottom: 71px;
        @media screen and (max-width : @screen-sm-max) { 
            margin-bottom: 40px;
        }
    }

    .row {
        display: flex;
        @media screen and (max-width : @screen-sm-max) { 
            display: block;
        }
    }
    
    &__card {
        @media screen and (max-width : @screen-sm-max) { 
            &:not(:last-child) {
                margin-bottom: 21px;
            }
        }
    }
}