{% set title = "Home" %}

{% extends "./templates/main.html" %}

{% block content %}

<div class="page-404">
    <div class="container-fluid">
        <img src="./medias/404.png" alt="">
        <h4 class="page-404__description h4">Oops! We can't seem to find the page you're looking for.</h4>
        <a href="./index.html" class="btn btn--secondary">BACK TO HOMEPAGE</a>
    </div>
</div>
{% endblock %}