{% set title = "Contact us" %}

{% extends "./templates/main.html" %}

{% block content %}

<main>
    <section class="contact-us">
        <div class="container-fluid">
            <h2 class="h2">Contact Us</h2>
            <div class="email-us">
                <h5 class="contact-us--h5 h5">Need more information? Email us now</h5>
                <div class="list-contact">
                    <div class="email-box">
                        <div class="email-box__icon"><img src="./medias/icons/open-24-hours.svg" alt=""></div>
                        <div class="email-box__body">
                            <div class="email-box__name">Customer support</div>
                            <div class="email-box__address" title="support@speedtomarket.io">support@speedtomarket.io</div>
                        </div>
                    </div>
                    <div class="email-box">
                        <div class="email-box__icon"><img src="./medias/icons/marketing.svg" alt=""></div>
                        <div class="email-box__body">
                            <div class="email-box__name">PR and Marketing</div>
                            <div class="email-box__address" title="marketing@speedtomarket.io">marketing@speedtomarket.io</div>
                        </div>
                    </div>
                    <div class="email-box">
                        <div class="email-box__icon"><img src="./medias/icons/careers.svg" alt=""></div>
                        <div class="email-box__body">
                            <div class="email-box__name">Careers</div>
                            <div class="email-box__address" title="careers@speedtomarket.io">careers@speedtomarket.io</div>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="h5 contact-us--h5">Or fill the form below</h5>
            {% include "./templates/component/card-form-contact-us.html" %}
        </div>
    </section>
</main>
{% endblock %}