{% set title = "Product Designers" %}

{% extends "./templates/main.html" %}

{% block content %}

<div>
    <div class="stm-section stm-section--revert cornflower-bg overview-header">
        <div class="stm-section__media">
            <img src="medias/designer-banner.jpg" alt="">
        </div>
        <div class="stm-section__info">
            <div class="card-primary">
                <h4 class="card-primary__sub-heading h4">Product Designers & SME</h4>
                <h2 class="card-primary__heading h2"><span class="text-primary">Design and sell</span> your products, your way.</h2>
                <div class="card-primary__body">
                    <p>SpeedToMarket makes it easier for you to load your own products inventory, create customizations to suit any customer, and invite them to browse and buy seamlessly.</p>
                </div>
                <div class="card-primary__footer"><a href="./register.html" class="btn btn--secondary">START 14-DAY FREE TRIAL</a></div>
            </div>
        </div>
    </div>

    <section class="introduce-section">
        <div class="container-fluid">
            <h2 class="introduce-section__title h2 text-center">Start Selling <span class='text-primary'>Globally</span> Today</h2>
        </div>
        <div class="card-secondary-block">
            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/design.svg" alt="">
                <h4 class="card-secondary__heading h4">Design</h4>
                <div class="card-secondary__body">
                    <p>Breathe life into your product design by submitting your existing tech pack or using our dedicated design tools</p>
                </div>
            </div>
            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/make.svg" alt="">
                <h4 class="card-secondary__heading h4">Make</h4>
                <div class="card-secondary__body">
                    <p>Once your product design is approved, easily track the manufacturing and shipping process</p>
                </div>
            </div>

            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/sell.svg" alt="">
                <h4 class="card-secondary__heading h4">Sell</h4>
                <div class="card-secondary__body">
                    <p>Easy pricing and no hidden costs. You can start selling globally without any manufacturing knowledge.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="home-content-section">
        <div class="container-fluid">
            <h2 class="home-content-section--title h2"><span class='text-primary'>Focus on your craft</span>, we take care of the tech</h2>
        </div>
        <div class="stm-section stm-section--revert js-handle-section">
            <div class="stm-section__media">
                <img src="medias/easy-on-boarding.png" alt="flexible">
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Easy On-Boarding</h4>
                    <h3 class="card-primary__heading h3">The Hustle Without the Hustle</h3>
                    <div class="card-primary__body">
                        <ul class="unordered-list">
                            <li>Create an account in less than 5 minutes</li>
                            <li>Easy to use: Use our smart tools to submit your designs without any manufacturing knowledge</li>
                            <li>Create your own storefront with personalized storefront templates</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section js-handle-section">
            <div class="stm-section__media">
                <video autoplay muted loop>
                    <source src="medias/videos/accessible-manufacturing.mp4" type="video/mp4">
                </video>
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Accessible Manufacturing</h4>
                    <h3 class="card-primary__heading h3">No More Painful Sourcing</h3>
                    <div class="card-primary__body">
                        <p>Say goodbye to the traditional painful sourcing. With STM, manufacturers inventory are available to you 24/7 helping you easily build your own supply chain without breaking a sweat.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section stm-section--revert js-handle-section">
            <div class="stm-section__media">
                <video autoplay muted loop>
                    <source src="medias/videos/integrated-configurator.mp4" type="video/mp4">
                </video>
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Integrated Configurator</h4>
                    <h3 class="card-primary__heading h3">Configure your products down to individual components</h3>
                    <div class="card-primary__body">
                        <ul class="unordered-list">
                            <li>Irrespective of your design knowledge, STM give you the ability to configure your products the way you want</li>
                            <li>View lead duration of the products in real time, while you design</li>
                            <li>Easily optimise your products with available material alternatives</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section js-handle-section">
            <div class="stm-section__media">
                <img src="medias/earning-dashboard.png" alt="">
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Earning Dashboard</h4>
                    <h3 class="card-primary__heading h3">Easily track your earnings in full transparency</h3>
                    <div class="card-primary__body">
                        <p>STM dashboard lets you easily track your earnings and gives you insights on the markets and the products you are selling.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="suggest suggest--use">
        <div class="container-fluid">
            <h2 class="suggest__heading h2">Start your free trial</h2>
            <p class="suggest__description">You’re one click-away from experiencing the future of commerce.</p>
            <div class="suggest__action">
                <a href="./customer-register.html" class="btn btn--primary">START 14-DAY FREE TRIAL</a>
            </div>
            <div class="suggest__alter">
                Already have an account? <a href="">Login</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}