{% set title = "Home" %}

{% extends "./templates/main.html" %}

{% block content %}

<div class="home">
    <section class="home-top-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-lg-6 home-top-section__img-left">
                    <img src="medias/phone.png" alt="">
                </div>
                <div class="col-xs-12 col-lg-6">
                    {% set headingHeader = "Empowering you to go <span class='text-primary'>Direct to Consumer" %}
                    {% set details = "<b>SpeedToMarket (STM)</b> powers smarter and more profitable businesses by
                        connecting manufacturers, brands, and product designers to end consumers in the easiest way
                        possible." %}
                    {% set btnName = "START 14 DAYS FREE TRIAL" %}
                    {% include "./templates/component/card-primary.html" %}
                </div>
            </div>
        </div>
    </section>

    <section class="partner-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-3 col-lg-4"><span class="partner-section__title">Together We Have
                        Transformed</span></div>
                <div class="col-xs-12 col-md-9 col-lg-8">
                    <div class="partner">
                        <div class="partner__item"><img src="medias/logos/saitex.png" alt="Saitex"></div>
                        <div class="partner__item"><img src="medias/logos/edwin.png" alt="Edwin"></div>
                        <div class="partner__item"><img src="medias/logos/stelapop.png" alt="Stelapop"></div>
                        <div class="partner__item"><img src="medias/logos/atelier.png" alt="Atelier"></div>
                        <div class="partner__item"><img src="medias/logos/rekut.png" alt="Rekut"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-introduce-section">
        <div class="container-fluid">
            <h2 class="home-introduce-section--title h2">Discover <span class='text-primary'>Endless
                    Possibilities</span>
                with STM</h2>
            <p class="home-introduce-section--details"><b>SpeedToMarket</b> is a comprehensive solution that enables
                any business to go Direct to Consumer with it's smart manufacturing model. It seamlessly connects
                the dots between designing, manufacturing, marketing, and selling.</p>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-4 home-introduce-section__wrap-content">
                    {% set title = "Brands and Product Designers" %}
                    {% set details = "Design and sell your products, all in one place" %}
                    {% set btnName = "START 14 DAYS FREE TRIAL" %}
                    {% set url = "medias/designer-ava.png" %}
                    {% include "./templates/component/introduce-content.html" %}
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-lg-4 home-introduce-section__wrap-content">
                    {% set title = "Manufacturers" %}
                    {% set details = "Trade more, faster and globally" %}
                    {% set btnName = "START 14 DAYS FREE TRIAL" %}
                    {% set url = "medias/manufacturer-ava.png" %}
                    {% include "./templates/component/introduce-content.html" %}
                </div>
            </div>
        </div>
    </section>

    <section class="home-content-section" id="features">
        <div class="container-fluid">
            <h2 class="home-content-section--title h2">STM Unlocks the Power of D2C for <span
                    class='text-primary'>You</span></h2>
        </div>
        {% include "./templates/pure-component/stm-section.html" %}
    </section>

    <section class="home-card-product-section" id="pricing">
        <div class="container-fluid">
            <h2 class="home-card-product-section--title h2">Tailored pricing for every business, at every size.</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-4 home-card-product-section__card-product">
                    {% set title = "BUYER" %}
                    {% set price = "$0" %}
                    {% set sub = "For Life" %}
                    {% set listSubDetails = [
                    "Register online for free",
                    "Access to leading Manufacturers inventory",
                    "Customise your products",
                    "Al Predictive Recommendations"
                    ] %}
                    {% set btnName = "REGISTER TODAY" %}
                    {% set isShowTicket = false %}
                    {% include "./templates/component/card-product.html" %}
                </div>

                <div class="col-xs-12 col-sm-4 home-card-product-section__card-product">
                    {% set title = "STARTER PACKAGE" %}
                    {% set price = "$59" %}
                    {% set sub = "USD Per Month/ User" %}

                    {% set listSubDetails = [
                    "Get Selling Fast: Ideal for smaller manufactures & product designers",
                    "Sell and configure up to 100 products",
                    "Advanced Product Lifecycle Management (PLM) Module",
                    "Configure Product Quote (CPQ) Module: To sell how you want",
                    "AI Predictive Manufacturing (Coming Soon)"
                    ] %}
                    {% set btnName = "START 14 DAYS FREE TRIAL" %}
                    {% set isShowTicket = true %}
                    {% include "./templates/component/card-product.html" %}
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-4 home-card-product-section__card-product">
                    <div class="card-product">
                        <div class="card-product__header">
                            <label class="card-product__header--title">ENTERPRISE PACKAGE</label>
                            <p>
                                <label class="card-product__header--price">1%</label>
                            </p>
                            <label class="card-product__header--sub">Per Transaction Fee*</label>
                        </div>
                        <ul class="unordered-list card-product--list-sub">
                            <li>
                                All SME Features
                            </li>
                            <li>
                                List unlimited products
                            </li>
                            <li>
                                Interactive Collaboration Screen Sharing for custom product development with your Customers
                            </li>
                            <li>
                                API Access for Enterprise integration
                            </li>
                            <li>
                                3D Product Configure Support (Coming Soon)
                            </li>
                            <li>
                                Dedicated Account Manager
                            </li>
                            <li>
                                Minimum Monthly Revenue Agreement
                            </li>
                        </ul>
                        <a href="./contact-us.html" class="btn btn--secondary">CONTACT US</a>
                    </div>
                </div>
            </div>
    </section>
    <section class="suggest">
        <div class="container-fluid">
            <h2 class="suggest__heading h2">Transform your business today</h2>
            <div class="suggest__action">
                <a href="./register.html" class="btn btn--primary">TRY FOR FREE</a>
                <a href="./contact-us.html" class="btn btn--secondary">Contact us</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}