{% set title = "Home" %}

{% extends "./templates/main.html" %}

{% block content %}

<div class="neo-slider neo-slider-main container-login" data-slides-to-show="1" data-slides-to-scroll="1"
    data-arrows-style="half-circle" data-dots="true">
    <h1>Start with a <span class="free">free</span> 14-day trial!</h1>
    <div class="container-login__wrap">
        <form class="container-login__wrap__form">
            <div class="form-group">
                <label for="exampleInputEmail1">Your Email</label>
                <input type="email" class="form-control container-login__wrap__form--custom-form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" placeholder="i.e.James Cameron">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Your Password</label>
                <input type="password" class="form-control container-login__wrap__form--custom-form-control" id="exampleInputPassword1"
                    placeholder="*****">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm Password</label>
                <input type="text" class="form-control container-login__wrap__form--custom-form-control" id="exampleInputPassword1"
                    placeholder="+12222 2222 3334">
            </div>
            <div class="form-group form-check container-login__wrap__form__checkbox">
                <input type="checkbox" class="form-check-input container-login__wrap__form__checkbox--custom-form-check-input" id="exampleCheck1">
                <span class="form-check-label" for="exampleCheck1">
                    I agree to the <b>Terms & Conditions. Privacy Policy </b>and <b>Terms of Service.</b>
                </span>
            </div>
            <div class="form-group form-check container-login__wrap__form__checkbox">
                <input type="checkbox" class="form-check-input container-login__wrap__form__checkbox--custom-form-check-input" id="exampleCheck1">
                <span class="form-check-label" for="exampleCheck1">
                    I want to receive updates or emails about new STM products, best practices or special offers
                </span>
            </div>
            <button type="submit" class="btn btn-primary container-login__wrap__form--btn-submit">SEND REQUEST</button>
        </form>
    </div>

</div>
{% endblock %}