{% set title = "Manufacturers" %}

{% extends "./templates/main.html" %}

{% block content %}

<div class="">
    <div class="stm-section stm-section--revert cornflower-bg overview-header">
        <div class="stm-section__media">
            <img src="medias/manufacturer-banner.jpg" alt="">
        </div>
        <div class="stm-section__info">
            <div class="card-primary">
                <h4 class="card-primary__sub-heading h4">Manufacturers</h4>
                <h2 class="card-primary__heading h2">Unlock the power of <span class="text-primary">Direct To Consumer</span></h2>
                <div class="card-primary__body">
                    <p>STM transforms your business by generating new opportunities thanks to a smart manufacturing solution that's finally accessible.</p>
                </div>
                <div class="card-primary__footer"><a href="./register.html" class="btn btn--secondary">START 14-DAY FREE TRIAL</a></div>
            </div>
        </div>
    </div>

    <section class="introduce-section">
        <div class="container-fluid">
            <h2 class="introduce-section__title h2 text-center"><span class='text-primary'>Transform</span> your business today</h2>
        </div>
        <div class="card-secondary-block">
            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/bell.svg" alt="">
                <h4 class="card-secondary__heading h4">Smart <br/>Notifications</h4>
                <div class="card-secondary__body">
                    <p>AI driven updates notify you about products STM recommends you promote more based on your customers viewing habits and the market they are selling in.</p>
                </div>
            </div>
            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/spaceship.svg" alt="">
                <h4 class="card-secondary__heading h4">Unique <br/>Features</h4>
                <div class="card-secondary__body">
                    <p>A first-in-the-market digital platform that configures complex products with all the key features of a supply chain, to allow Direct-to-Consumer retail.</p>
                </div>
            </div>

            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/open-24-hours.svg" alt="">
                <h4 class="card-secondary__heading h4">Online<br/> 24/7</h4>
                <div class="card-secondary__body">
                    <p>With 100% uptime, GDPR compliant data storage, and guaranted e-commerce security (ISO27001), you can focus on running your business and not the tech.</p>
                </div>
            </div>

            <div class="card-secondary">
                <img class="card-secondary__icon" src="./medias/icons/manufacturing.svg" alt="">
                <h4 class="card-secondary__heading h4">Outsource <br/>Manufacturing</h4>
                <div class="card-secondary__body">
                    <p>Easily keep track of your orders, even those you are not producing in-house. STM let's you manage your operations and inventory real time from different locations.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="home-content-section">
        <div class="container-fluid">
            <h2 class="home-content-section--title h2">How STM helps you <span class='text-primary'>thrive?</span></h2>
        </div>
        <div class="stm-section stm-section--revert js-handle-section">
            <div class="stm-section__media">
                <video autoplay muted loop>
                    <source src="medias/videos/user-friendly.mp4" type="video/mp4">
                </video>
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">User Friendly</h4>
                    <h3 class="card-primary__heading h3">Clean & Modern Interface</h3>
                    <div class="card-primary__body">
                        <p>Complexity made simple: We've created an easy to use tool for your staff and customers to configure unique products quickly and efficiently.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section js-handle-section">
            <div class="stm-section__media">
                <video autoplay muted loop>
                    <source src="medias/videos/keep-control.mp4" type="video/mp4">
                </video>
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Keep Control</h4>
                    <h3 class="card-primary__heading h3">Real-time inventory & cost control</h3>
                    <div class="card-primary__body">
                        <ul class="unordered-list">
                            <li>Manage your inventory more efficiently by easily keeping track of it</li>
                            <li>Track and trace what’s happening in your supply chain with our end-to-end traceable system</li>
                            <li>Run inventory across multiple warehouses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section stm-section--revert js-handle-section">
            <div class="stm-section__media">
                <video autoplay muted loop>
                    <source src="medias/videos/clear-tracking.mp4" type="video/mp4">
                </video>
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Clear Tracking</h4>
                    <h3 class="card-primary__heading h3">Order fulfillment</h3>
                    <div class="card-primary__body">
                        <ul class="unordered-list">
                            <li>Real time tracking the availability of required products</li>
                            <li>Easily identify priorities of customer orders</li>
                            <li>Visualize all your sales on a single dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="stm-section js-handle-section">
            <div class="stm-section__media">
                <img src="medias/safe-efficient.jpg" alt="">
            </div>
            <div class="stm-section__info">
                <div class="card-primary">
                    <h4 class="card-primary__sub-heading h4">Safe & Efficient</h4>
                    <h3 class="card-primary__heading h3">Seamless Integration</h3>
                    <div class="card-primary__body">
                        <ul class="unordered-list">
                            <li>STM easily integrates with your existing e-commerce, accounting, and reporting solutions using our Enterprise open API</li>
                            <li>Configure products, process orders, and manage customers natively in STM or from your own solutions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="suggest suggest--use">
        <div class="container-fluid">
            <h2 class="suggest__heading h2">Start your free trial</h2>
            <p class="suggest__description">You’re one click-away from experiencing the future of commerce.</p>
            <div class="suggest__action">
                <a href="./merchant-register.html" class="btn btn--primary">START 14-DAY FREE TRIAL</a>
            </div>
            <div class="suggest__alter">
                Already have an account? <a href="">Login</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}