{% set title = "Registration" %}

{% extends "./templates/main.html" %}

{% block content %}

<main>
    <section class="register">
        <div class="container-fluid">
            <h2 class="h2">Start with a <span class="text-primary">free</span> 14-day trial!</h2>
            <div class="row">
                <div class="col-xs-12 register__wrap-content">
                    <a href="./merchant-register.html">
                        {% set title = "Merchant" %}
                        {% set details = "" %}
                        {% set btnName = "" %}
                        {% set url = "medias/merchant.png" %}
                        {% include "./templates/component/introduce-content.html" %}
                    </a>
                </div>
                <div class="col-xs-12 register__wrap-content">
                    <a href="./customer-register.html">
                        {% set title = "Customer" %}
                        {% set details = "" %}
                        {% set btnName = "" %}
                        {% set url = "medias/customer.png" %}
                        {% include "./templates/component/introduce-content.html" %}
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}