.page-404 {
    padding: 60px 0 100px;
    background: url("@{mediaPath}/banner-bg.png");
    text-align: center;
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }

    &__description {
        margin: 40px 0;
    }
}