.contact-us {
    background: url("@{mediaPath}/designer-registration-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 0px;
    padding: 99px 0 80px;
    background-color: #e8eefb;
    @media screen and (max-width : @screen-sm-max) {
        padding: 36px 0 41px;
        background-size: unset;
        background-position: unset;
    }

    &--h5 {
        margin-top: 71px;
        margin-bottom: 20px;
        @media screen and (max-width : @screen-sm-max) {
            margin-top: 27px;
        }
    }
}

.list-contact {
    .email-box {
        & + .email-box {
            margin-top: 10px;
        }
    }
    @media screen and (min-width : @screen-md-min) {
        display: flex;
        .email-box {
            width: 33%;
            & + .email-box {
                margin-top: 0;
                margin-left: 14px;
            }
        }
    }
}