.overview-header {
    padding-bottom: 40px;
    @media screen and (min-width: @screen-md-min) {
        padding-bottom: 0;

        .stm-section {
            &__media {
                width: 69.5%;
            }
            &__info {
                margin-right: -18.25%;
                .card-primary {
                    &__heading {
                        margin-bottom: 30px;
                    }

                    &__body {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

.introduce-section {
    padding: 40px 0;
    .card-secondary-block {
        padding: 0 40px;
        @media screen and (min-width: @screen-md-min) {
            padding: 0;
            display: flex;
            justify-content: center;
            .card-secondary {
                width: 21.15%;
                align-items: stretch;
                margin: 50px 1.5% 0;
            }
        }
    }
    @media screen and (min-width: @screen-md-min) {
        padding: 80px 0;
    }
}