.partner-section {
    padding: 50px 0;

    @media screen and (max-width : @screen-sm-max) {
        padding: 35px 0;
        text-align: center;
    }

    &__title {
        font-size: @fs-20;
        font-weight: 800;
        display: block;
        margin: 0 0 15px;

        @media screen and (min-width : @screen-sm-max) {
            margin: 13px 0 0;
        }
    }

    .partner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width : @screen-sm-max) {
            margin-top: 13px;
            justify-content: space-around;
        }

        &__item {
            img {
                display: block;
                max-width: 100%;
                height: 52px;
                margin: 0;
            }
        }
    }
}

.home-top-section {
    background: url("@{mediaPath}/banner-bg.png");
    padding-bottom: 40px;

    @media only screen and (max-width : @screen-sm-max) {
        padding-bottom: 36px;
    }

    .row {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        
        @media only screen and (max-width : @screen-sm-max) {
            display: block;
        }
    }

    &__img-left {
        position: relative;
        right: 80px;

        @media only screen and (max-width : @screen-lg-max) {
            right: 0;
        }

        @media only screen and (max-width : @screen-sm-max) {
            text-align: center;
            margin-bottom: -60px;
        }

        img {
            width: 529px;
            height: 691px;

            @media only screen and (max-width : @screen-lg-max) {
                width: 100%;
            }

            @media only screen and (max-width : @screen-sm-max) {
                width: 264px;
                height: 345px;
            }
        }
    }
}

.home-introduce-section {
    background: @color-alabaster;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    font-size: @fs-20;
    color: @color-black;

    @media only screen and (max-width : @screen-sm-max) {
        padding-top: 25px;
        padding-bottom: 41px;
    }

    &--title {
        @media only screen and (max-width : @screen-sm-max) {
            margin-bottom: 13px;
        }
    }

    &--details {
        padding: 18px 93px;
        line-height: 34px;

        @media only screen and (max-width : @screen-sm-max) {
            padding: 18px 0;
            font-size: @fs-16;
            line-height: 24px;
        }
    }

    .row {
        display: flex;
        justify-content: center;
        margin-top: 90px;

        @media only screen and (max-width : @screen-sm-max) {
            flex-wrap: wrap;
        }
    }

    &__wrap-content {
        @media only screen and (max-width : @screen-sm-max) {
            &:first-child {
                margin-bottom: 130px;
            }
        }
    }
}

.home-content-section {
    background: @color-white-lilac;
    padding: 36px 0px 45px 0px;
    @media only screen and (min-width : @screen-sm-max) {
        padding: 90px 0;
    }

    &--title {
        text-align: center;
        margin-bottom: 30px;
        @media screen and (min-width: @screen-sm-max){
            margin-bottom: 70px;
        }
    }
}

.home-card-product-section {
    background: @color-cod-gray 0% 0% no-repeat padding-box;
    padding-top: 80px;
    padding-bottom: 80px;

    @media only screen and (max-width : @screen-sm-max) {
        padding: 54px 20px 68px 20px;
    }

    &--title {
        color: @color-white;
        text-align: center;
    }

    .row {
        display: flex;
        margin-top: 50px;

        @media only screen and (max-width : @screen-sm-max) {
            flex-wrap: wrap;
        }
    }

    &__card-product {
        &:not(:last-child) {
            margin-right: 2%;
        }

        @media only screen and (max-width : @screen-sm-max) {
            &:not(:last-child) {
                margin-bottom: 42px;
                margin-right: 0;
            }
        }
    }
}
