.container-login {
    background: @color-hawkes-blue;
    padding: 40px;
    h1 {
        font-weight: bold;
        color: @color-black;
        .free {
            color: @color-blue;
        }
    }
    &__wrap {
        background: @color-white;
        width: 450px;
        margin-left: 40px;
        border-radius: 25px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        &__form {
            padding: 40px;
            &--custom-form-control {
                border-radius: 25px;
                height: 50px;
                border: 1px solid @color-black;
            }
            &__checkbox {
                display: flex;
                margin-left: 15px;
                &--custom-form-check-input {
                    margin-right: 15px;
                    margin: 3px 0 0;
                }
                span {
                    color: @color-santas-gray;
                    b {
                       color: @color-black; 
                    }
                }
            }
            &--btn-submit {
                padding: 15px 50px;
                background: @color-black;
                border-radius: 25px;
                border-color: transparent;
            }
        }
    }
}