.register {
    background: url("@{mediaPath}/banner-bg.png");
    padding: 99px 0 63px;

    @media only screen and (max-width : @screen-sm-max) {
        padding: 32px 0 36px;
    }

    .row {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        text-align: center;

        @media only screen and (max-width : @screen-sm-max) {
            flex-wrap: wrap;
        }

        a {
            text-decoration: none;
            color: @color-black;
            &:hover,  &:focus {
                text-decoration: none;
                color: @color-blue;
            }
        }
    }

    &__wrap-content {
        cursor: pointer;
        max-width: 520px;
        @media only screen and (max-width : @screen-sm-max) {
            &:first-child {
                margin-bottom: 80px;
            }
        }
    }
}