.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow: none
}
.btn.focus, .btn:focus, .btn:hover {
  color: @color-white;
}

.btn {
  padding: 23px 35px;
  font-size: @fs-14;
  line-height: 1.28;
  text-transform: uppercase;
  border-radius: 32px;
  box-shadow: 0px 4px 0px @color-button-shadow;
  font-weight: 800;
  letter-spacing: 2px;
  white-space: inherit;
  border: 0;

  @media screen and (max-width : @screen-sm-max) {
    font-size: @fs-12;
    padding: 18px 20px;
  }

  &--primary {
    background-color: @color-primary;
    color: @color-white;
  }

  &--secondary {
    background-color: @color-secondary;
    color: @color-white;
  }

}