.card-transform-business {
    text-align: center;
    padding: 37px 34px 57px;
    box-shadow: 0px 20px 70px #00000014;
    background: #ffffff;
    border-radius: 32px;
    height: 100%;
    @media screen and (max-width : @screen-md-max) { 
        min-height: 648px;
    }
    @media screen and (max-width : @screen-sm-max) { 
        min-height: unset;
    }
    &__wrap-img {
        margin-bottom: 30px;
        img {
            height: 114px;
            width: 114px;
            @media screen and (max-width : @screen-sm-max) { 
                height: 100px;
                width: 100px;
            }
        }
    }
    &--h4 {
        min-height: 66.5px;
        margin-bottom: 25px;
        @media screen and (max-width : @screen-sm-max) { 
            min-height: auto;
        }
    }
}