.card-product {
    background: @color-white;
    position: relative;
    padding: 55px 30px;
    box-shadow: 0px 3px 60px #0000001F !important;
    border-radius: 41px;
    @media only screen and (max-width : @screen-sm-max) {
        padding: 30px 20px 48px 20px;
    }

    &--ticket {
        width: 148px;
        height: 148px;
        position: absolute;
        top: -17px;
        left: -17px;
    }

    &__header {
        text-align: center;

        &--title {
            font-size: @fs-24;
            margin: 0;
            @media only screen and (max-width : @screen-sm-max) {
                font-size: @fs-18;
            }
        }

        &--price {
            font-size: @fs-80;
            margin: 0;
            @media only screen and (max-width : @screen-sm-max) {
                font-size: @fs-60;
            }
        }

        &--sub {
            font-size: @fs-20;
            color: @color-black;
            opacity: 0.65;
            margin: 0;
            @media only screen and (max-width : @screen-sm-max) {
                font-size: @fs-18;
            }
        }
    }

    &--list-sub {
        margin: 20px 0;
        font-size: @fs-18;
        line-height: 24px;
        @media only screen and (max-width : @screen-sm-max) {
            font-size: @fs-16;
        }
    }

    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    &--note {
        margin-top: 22px;
        color: @color-white;
        font-size: @fs-14;
        letter-spacing: 0.08px;
    }
}
