.card-primary {
  padding: 58px 78px;
  box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.12);
  border-radius: 41px;
  background-color: @color-white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__sub-heading {
    color: @color-primary;
    margin: 0 0 20px;
  }

  &__heading {
    margin: 0 0 20px;
  }

  &__body {
    font-size: @fs-16;
    line-height: 1.5;

    @media screen and (min-width : @screen-xlg) {
      font-size: @fs-20;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .btn {
    margin-top: 15px;
  }

  @media screen and (max-width: @screen-sm-max) {
    padding: 43px 20px;
    border-radius: 34px;

    &__sub-heading {
      color: @color-primary;
      margin: 0 0 10px;
    }

    &__heading {
      margin: 0 0 15px;
    }
    .btn {
      display: block;
    }
  }
}