.card-secondary {
  padding: 70px 20px 60px;
  box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
  border-radius: 34px;
  background-color: @color-white;
  text-align: center;
  margin-top: 22px;

  &__icon {
    margin: 0 auto 20px;
    display: block;
    height: 105px;
  }

  &__heading {
    margin: 0 0 20px;
    br {
      display: none;
      @media screen and (min-width: @screen-md-min) {
        display: block;
      }
    }
  }

  &__body {
    font-size: @fs-16;
    line-height: 1.44;

    @media screen and (min-width : @screen-xlg) {
      font-size: @fs-18;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: @screen-md-min) {
    padding: 70px 35px 60px;
    border-radius: 40px;
    margin-top: 0;
  }
}

