.card-form-contact-us {
    &__wrap {
        margin-top: 28px;
        padding: 59px 53px 97px 67px;
        background: @color-white;
        box-shadow: 0px 3px 80px #1203651D;
        border-radius: 50px;
        font-weight: bold;

        @media only screen and (max-width : @screen-sm-max) {
            padding: 35px 20px 58px;
        }

        &__btn {
            margin-top: 66px;
            text-align: center;

            .btn {
                padding: 22px 106px 23px;
                @media only screen and (max-width : @screen-sm-max) {
                    width: 100%;
                    padding: 22px 0 23px;
                }
            }
        }
    }
}