.email-box {
    background: @color-white;
    padding: 22px 20px 26px;
    box-shadow: 0px 3px 80px rgba(18, 3, 101, 0.11);;
    border-radius: 34px;
    display: flex;

    &__icon {
        width: 50px;
        min-width: 50px;
        margin-right: 18px;
        img {
            display: block;
            width: 100%;
            margin: 0;
        }
    }

    &__name {
        font-size: @fs-22;
        font-weight: 800;
        line-height: 1.23;
        margin: 8px 0 10px;
    }

    &__body {
        overflow: hidden;
    }

    &__address {
        font-size: @fs-16;
        line-height: 1;
        color: #0307FF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-bottom: 10px;
    }
    @media screen and (min-width : @screen-md-min) { 
        padding: 22px 35px 30px 45px;
        border-radius: 45px;

        &__icon {
            width: 60px;
            min-width: 60px;
        }

        &__name {
            font-size: @fs-26;
            font-weight: bold;
            margin: 12px 0 14px;
        }

        &__address {
            font-size: @fs-18;
            padding-bottom: 20px;
        }
    }

    @media screen and (min-width : @screen-xlg) { 
        padding: 22px 50px 30px 60px;
        border-radius: 50px;

        &__icon {
            width: 66px;
            min-width: 66px;
            margin-right: 25px;
        }

        &__name {
            font-size: @fs-28;
            font-weight: bold;
            margin: 12px 0 16px;
        }

        &__address {
            font-size: @fs-18;
            padding-bottom: 25px;
        }
    }
}