.wrap-input {
    margin-bottom: 22px;

    &__label {
        margin-top: 30px;

        @media only screen and (max-width : @screen-sm-max) {
            margin-top: 0;
        }

        label {
            letter-spacing: -0.66px;
            color: @color-black;
            min-width: 178px;
            font-size: @fs-21;

            @media only screen and (max-width : @screen-sm-max) {
                font-size: @fs-16;
                margin-bottom: 20px;
            }
        }
    }

    &--custom-form-control {
        padding-left: 43px;
        height: 87px;
        border-radius: 44px;
        border: 1px solid @color-black;
        @media only screen and (max-width : @screen-sm-max) {
            height: 50px;
            padding-left: 25px;
            font-size: @fs-12;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 50px white inset !important;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url("@{mediaPath}/icons/arrow-down.png");
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
        background-size: 16px 16px;
        color: @color-black;

        &:invalid {
            color: @color-santas-gray;
        }

        option {
            color: @color-black;
            font-weight: bold;

            &:disabled {
                color: @color-santas-gray;
            }
        }
    }

    textarea {
        padding: 34px 43px;
        height: 236px;

        @media only screen and (max-width : @screen-sm-max) {
            padding: 24px 25px;
            height: 144px;
        }
    }

    .field-error {
        .form-control {
            border-color: @color-red;

            &:focus {
                -webkit-box-shadow: inset 0 1px 1px rgb(241, 103, 87), 0 0 8px rgb(241, 103, 87);
                box-shadow: inset 0 1px 1px rgb(241, 103, 87), 0 0 8px rgb(241, 103, 87);
            }
        }

        .error {
            margin-top: 10px;
            color: @color-red;
            margin-left: 38px;
            @media only screen and (max-width : @screen-sm-max) { 
                margin-left: 0; 
            }
        }
    }
}