.introduce {
    background: @color-white 0% 0% no-repeat padding-box;
    border-radius: 40px;
    box-shadow: 0px 20px 70px #00000014 !important;
    padding: 40px;

    @media only screen and (max-width : @screen-sm-max) {
        padding: 0 20px 41px 20px;
    }

    &--img {
        width: 280px;
        height: 280px;
        position: relative;
        margin-top: -70px;

        @media only screen and (max-width : @screen-sm-max) {
            width: 238px;
            height: 238px;
            margin-top: -40px;
        }
    }

    &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 71px;
        margin-top: 38px;
        margin-bottom: 12px;
        @media only screen and (max-width : @screen-sm-max) {
            margin-top: 28px;
        }
    }

    &--sub {
        min-height: 68px;
        margin-bottom: 31px;
        line-height: 34px;
        @media only screen and (max-width : @screen-sm-max) {
            font-size: @fs-16;
            min-height: 48px;
            line-height: 24px;
        }
    }
}