.main-content {
    display: flex;
    align-items: center;
    padding-top: 86px;
    @media only screen and (max-width : @screen-sm-max) { 
        flex-wrap: wrap;
        padding-top: 28px;
    }
    &__img-left {
        width: 100%;
        position: relative;
        margin-left: -120px;
        @media only screen and (max-width : @screen-sm-max) { 
            margin-bottom: -70px;
            margin-right: 0;
        }
        img {
            max-width: 100%;
            min-height: 665px;
            @media only screen and (max-width : @screen-sm-max) {
                min-height: auto; 
            }
        }
        video {
            max-width: 100%;
            min-height: 665px;
            object-fit: fill;
            @media only screen and (max-width : @screen-sm-max) {
                min-height: auto; 
            }
        }
    }

    &__img-right {
        width: 100%;
        position: relative;
        margin-right: -120px;
        @media only screen and (max-width : @screen-sm-max) { 
            margin-bottom: -70px;
            margin-right: 0;
        }
        img {
            max-width: 100%;
            min-height: 665px;
            @media only screen and (max-width : @screen-sm-max) {
                min-height: auto; 
            }
        }
        video {
            max-width: 100%;
            min-height: 665px;
            object-fit: fill;
            @media only screen and (max-width : @screen-sm-max) {
                min-height: auto; 
            }
        }
    }

    &--convert {
        direction: rtl;
    }

    &__card {
        padding: 0 5%;
        width: 100%;
        align-items: center;
        z-index: 1;
    }
}