.unordered-list {
  padding: 0;
  list-style: none;
  li {
    padding-left: 34px;
    background: url('@{mediaPath}/icons/bullet-point.png') no-repeat;
    background-size: 24px;
    background-position: 0 1px;
    line-height: 26px;
    & + li {
      margin-top: 20px;
    }
  }
}