<footer class="footer">
    <div class="footer__wrap container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-3 footer__wrap--logo">
                <a href="#">
                    <img src="medias/logos/stm-white.png">
                </a>
            </div>

            <div class="col-xs-12 col-md-6">
                <ul>
                    <li><a href="./contact-us.html">Contact Us</span></a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-3 t-a-right">
                <div class="footer__wrap__right">
                    <span>Follow us</span>
                    <a href="https://www.linkedin.com/company/speedtomarketio/"><img src="medias/logos/Linkedin_5.png" height="100"></a>
                    <a href="https://twitter.com/speedtomarketio"><img src="medias/logos/Twitter_5.png" height="100"></a>
                    <a href="https://www.instagram.com/speedtomarketio/"><img src="medias/logos/Instagram_5.png" height="100"></a>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 footer__wrap__contact">Copyright © 2021 SPEEDTOMARKET.io</div>
        </div>
    </div>
</footer>
<script src="bower/jquery/dist/jquery.min.js"></script>
<script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower/intl-tel-input/build/js/intlTelInput.js"></script>
<script src="js/validate-form.js"></script>
<script src="js/main.js"></script>

</body>

</html>