<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="./medias/favicon.ico">
    <link rel="icon" href="./medias/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="./medias/favicon.ico" type="image/x-icon"/>

    <title>{{ title | default('STM') }}</title>

    <link rel="stylesheet" href="bower/w3css-v4/w3.css">
    <link rel="stylesheet" href="bower/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/intl-tel-input/build/css/intlTelInput.css">
    <link rel="stylesheet" href="css/stm.css">
</head>

<body>
    <div class="sidenav-overlay js-sidenav-overlay"></div>
    <header class="header">
        {% include "./navigation-bar.html" %}
    </header>