<section class="main-register">
    <div class="container-fluid">
        <h2 class="h2">{{title}}</h2>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="main-register__wrap">
                    <form id="submitForm">
                        {% set labelText = "First Name*"%}
                        {% set inputType = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "firstName" %}
                        {% set dataName = "first name" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Last Name*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "lastName" %}
                        {% set dataName = "last name" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Email*"%}
                        {% set type = "email"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "email" %}
                        {% set dataName = "email" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Company*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "company" %}
                        {% set dataName = "company" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Position*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "position" %}
                        {% set dataName = "position" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Company Size*"%}
                        {% set type = "text"%}
                        {% set placeholder = "Choose a company size"%}
                        {% set type = "select" %}
                        {% set listOption = [
                            "Company Size 1",
                            "Company Size 2",
                            "Company Size 3"] %}
                        {% set id = "companySize" %}
                        {% set dataName = "company size" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Country*"%}
                        {% set type = "text"%}
                        {% set placeholder = "Choose a country"%}
                        {% set type = "select" %}
                        {% set listOption = [] %}
                        {% set id = "country" %}
                        {% set dataName = "country" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "Phone Number*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "phone" %}
                        {% set dataName = "phone" %}
                        {% include "./component/input.html" %}

                        {% if isMerchantRegister %}
                        {% set labelText = "Promo Code*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set id = "promoCode" %}
                        {% set dataName = "promo code" %}
                        {% include "./component/input.html" %}

                        {% set labelText = "STM Package*"%}
                        {% set type = "text"%}
                        {% set placeholder = "Please select STM Package"%}
                        {% set type = "select" %}
                        {% set listOption = [
                            "STM Package 1",
                            "STM Package 2",
                            "STM Package 3"] %}
                        {% set id = "stmPackage" %}
                        {% set dataName = "STM package" %}
                        {% include "./component/input.html" %}
                        {% endif %}

                        {% set labelText = "Store Name*"%}
                        {% set type = "text"%}
                        {% set placeholder = ""%}
                        {% set type = "input" %}
                        {% set listOption = [] %}
                        {% set id = "storeName" %}
                        {% set dataName = "store name" %}
                        {% include "./component/input.html" %}

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input">
                            <span class="form-check-label main-register__wrap--custom-label">
                                By register an account, you agree to the <b>Terms & Conditions</b> of STM
                            </span>
                        </div>
                        <div class="main-register__wrap__btn">
                            <button type="submit" id="submitBtn" class="btn btn--secondary">REGISTER</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>