<section class="js-hamburger-menu">
    <nav class="navigation-bar">
        <div class="container-fluid">
            <div class="df-vertical-align">
                <div><a class="navigation-bar--logo" href="./index.html"></a></div>
                <div class="navigation-bar__container-menu">
                    <!-- hamburger menu -->
                    <div class="navigation-bar__container-menu__hamburger">
                        <div class="navigation-bar__container-menu__hamburger__btn js-hamburger-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>

                    <!-- menu content -->
                    <div class="navigation-bar__container-menu__content">
                        <div class="navigation-bar__container-menu__content--logo">
                            <a class="navigation-bar--logo"
                                href="./index.html"></a>
                        </div>
                        <ul class="navigation-bar__container-menu__content__wrap">
                            <li class="navigation-bar__container-menu__content__wrap__dropdown">
                                <a class="js-overview dropbtn" role="button">Overview<i class="caret"></i></a>
                                <ul
                                    class="navigation-bar__container-menu__content__wrap__dropdown__sub js-content-collapse">
                                    <li><a class="navigation-bar__container-menu__content__wrap__dropdown__sub--text"
                                            href="./manufacturer.html">Manufacturers</a></li>
                                    <li><a class="navigation-bar__container-menu__content__wrap__dropdown__sub--text"
                                            href="./designer.html">Product
                                            Designers</a></li>
                                </ul>
                            </li>
                            <li><a href="./index.html#features">Features</a></li>
                            <li><a href="./index.html#pricing">Pricing</a></li>
                        </ul>

                        <div class="navigation-bar__container-menu__content__right">
                            <a href="https://speedtomarket.io/"
                                class="navigation-bar__container-menu__content__right--login-text">Login</a>
                            <a href="./register.html" class="btn btn--primary">REGISTER NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>