<section class="transform-business">
    <div class="container-fluid">
        <h2 class="transform-business__heading h2"><span class="text-primary">Transform</span> your business today</h2>
        <div class="row">
            <div class="col-xs-12 col-md-3 transform-business__card">
                {% set heading = "Smart Notifications" %}
                {% set details = "AI driven updates notify you about products STM recommends you promote more based on your customers viewing habits and the market they are selling in." %}
                {% set url = "medias/icons/bell.svg" %}
                {% include "./component/card-transform-business.html" %}
            </div>
            <div class="col-xs-12 col-md-3 transform-business__card">
                {% set heading = "Unique Features" %}
                {% set details = "A first-in-the-market digital platform that configures complex products with all the key features of a supply chain, to allow Direct-to-Consumer retail." %}
                {% set url = "medias/icons/spaceship.svg" %}
                {% include "./component/card-transform-business.html" %}
            </div>
            <div class="col-xs-12 col-md-3 transform-business__card">
                {% set heading = "Online 24/7" %}
                {% set details = "With 100% uptime, GDPR compliant data storage, and guaranted e-commerce security (ISO27001), you can focus on running your business and not the tech." %}
                {% set url = "medias/icons/open-24-hours.svg" %}
                {% include "./component/card-transform-business.html" %}
            </div>
            <div class="col-xs-12 col-md-3 transform-business__card">
                {% set heading = "Outsource Manufacturing" %}
                {% set details = "Easily keep track of your orders, even those you are not producing in-house. STM let's you manage your operations and inventory real time from different locations." %}
                {% set url = "medias/icons/manufacturing.svg" %}
                {% include "./component/card-transform-business.html" %}
            </div>
        </div>
    </div>
</section>