<div class="card-product">
    {% if isShowTicket %}
    <img class="card-product--ticket" src="medias/sticker.png" alt="" />
    {% endif %}
    <div class="card-product__header">
        <label class="card-product__header--title">{{title}}</label>
        <p>
            <label class="card-product__header--price">{{price}}</label>
        </p>
        <label class="card-product__header--sub">{{sub}}</label>
    </div>

    <ul class="unordered-list card-product--list-sub">
        {% for subDetails in listSubDetails %}
        <li>
            {{subDetails}}
        </li>
        {% endfor %}
    </ul>

    {% if isShowTicket %}
    <a href="./register.html" class="btn btn--primary">{{btnName}}</a>
    {% else %}
    <a href="./register.html" class="btn btn--secondary">{{btnName}}</a>
    {% endif %}
</div>
{% if note %}
<p class="card-product--note"> {{ note }}</p>
{% endif %}