<div class="card-primary">
    {% if subHeading %}
    <h5 class="card-primary__sub-heading h5">{{subHeading | safe}}</h5>
    {% endif %}
    {% if headingContent %}
    <h3 class="card-primary__heading h3">{{headingContent | safe}}</h3>
    {% endif %}
    {% if headingHeader %}
    <h2 class="card-primary__heading h2">{{headingHeader | safe}}</span>
    </h2>
    {% endif %}
    <div class="card-primary__body">
        {% if details %}
        <p>{{details | safe}}</p>
        {% endif %}
        {% if listDetails %}
        <ul class="unordered-list">
            {% for details in listSubDetails %}
            <li>{{details}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% if btnName %}
    <div class="card-primary__footer"><a href="./register.html" class="btn btn--secondary">{{btnName}}</a></div>
    {% endif %}
</div>