<section class="card-form-contact-us">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="card-form-contact-us__wrap">
                <form id="submitForm" method="POST" action="./php/contact.php">
                    {% set labelText = "First Name*" %}
                    {% set inputType = "text" %}
                    {% set placeholder = "" %}
                    {% set type = "input"  %}
                    {% set id = "firstName" %}
                    {% set dataName = "first name" %}
                    {% include "./input.html" %}

                    {% set labelText = "Last Name* "%}
                    {% set inputType = "text" %}
                    {% set placeholder = "" %}
                    {% set type = "input" %}
                    {% set id = "lastName" %}
                    {% set dataName = "last name" %}
                    {% include "./input.html" %}

                    {% set labelText = "Email*" %}
                    {% set inputType = "email" %}
                    {% set placeholder = "" %}
                    {% set type = "input" %}
                    {% set id = "email" %}
                    {% set dataName = "email" %}
                    {% include "./input.html" %}

                    {% set labelText = "Subjects*" %}
                    {% set inputType = "text" %}
                    {% set placeholder = "Customer Support" %}
                    {% set type = "select" %}
                    {% set listOption = [
                        "Subjects 1",
                        "Subjects 2",
                        "Subjects 3"] %}
                    {% set id = "subjects" %}
                    {% set dataName = "subjects" %}
                    {% include "./input.html" %}

                    {% set labelText = "Message" %}
                    {% set inputType = "text" %}
                    {% set placeholder = "Type your message" %}
                    {% set type = "textarea" %}
                    {% set id = "message" %}
                    {% set dataName = "message" %}
                    {% include "./input.html" %}

                    <div class="card-form-contact-us__wrap__btn">
                        <button type="submit" id="submitBtn" class="btn btn--secondary" >SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>