<div class="card-transform-business">
    <div class="card-transform-business__wrap-img">
        <img src="{{url}}">
    </div>
    <h4 class="card-transform-business--h4 title-normal">{{heading | safe}}</h4>
    <h6 class="h6">{{details}}</h6>
</div>