<div class="form-group">
    <div class="row wrap-input">
        <div class="col-xs-12 col-md-4 col-lg-3 wrap-input__label">
            <label>{{labelText}}</label>
        </div>
        <div class="col-xs-12 col-md-8 col-lg-9">
            {% if type === "select" %}
                <select data-name="{{dataName}}" id="{{id}}" nam={{id}} class="form-control wrap-input--custom-form-control">
                    <option value="" disabled="disabled" selected="selected">{{placeholder}}</option>
                    {% for data in listOption %}
                    <option value="{{data}}">{{data}}</option>
                    {% endfor %}
                </select>
            {% elseif type === "input" %}
                <input type="{{inputType}}" data-name="{{dataName}}" id="{{id}}" nam={{id}} class="form-control wrap-input--custom-form-control" placeholder="{{placeholder}}">
            {% elseif type === "textarea" %}
                <textarea data-name="{{dataName}}" id="{{id}}" nam={{id}} class="form-control wrap-input--custom-form-control" placeholder="{{placeholder}}"></textarea>
            {% endif %}
            <label class="js-txt-error"></label>
        </div>
    </div>
</div>