<div class="introduce">
    <div>
        <img class="introduce--img"
            src="{{url}}">
    </div>
    <h4 class="introduce--title title-normal">{{title | safe}}</h4>

    {% if details %}
    <p class="introduce--sub">{{details | safe}}</p>
    {% endif %}
    {% if btnName%}
    <a class="btn btn--secondary">{{btnName}}</a>
    {% endif %}
</div>