<div class="main-content {{classConvert}}">
    {% if classConvert %}
    <div class="main-content__img-left">
        {% if isImage %}
        <img src="{{url}}">
        {% else %}
        <video autoplay muted>
            <source src="{{url}}" type="videos/mp4">
        </video>
        {% endif %}
    </div>
    {% else %}
    <div class="main-content__img-right">
        {% if isImage %}
        <img src="{{url}}">
        {% else %}
        <video autoplay muted>
            <source src="{{url}}" type="videos/mp4">
        </video>
        {% endif %}
    </div>
    {% endif %}
    {% set subHeading = title %}
    {% set headingContent = details %}
    {% set headingHeader = "" %}
    {% set details = subDetails %}
    {% set listDetails = listSubDetails %}
    {% set btnName = btnName %}
    {% if classConvert %}
        {% set classUnconvert = "wrap-content--text" %}
    {% endif %}
    <div class="main-content__card {{classUnconvert}}">
        {% include "./card-primary.html" %}
    </div>
</div>