<div class="card-secondary">
  <img class="card-secondary__icon" src="./medias/icons/bell.svg" alt="">
  <h4 class="card-secondary__heading h4">Smart Notifications</h4>
  <div class="card-secondary__body">
    <p>AI driven updates notify you about products STM recommends you promote more based on your customers viewing habits and the market they are selling in.</p>
  </div>
</div>
