<div class="card-primary {{abc}}">
  <h5 class="card-primary__sub-heading h5">Flexible</h5>
  <h3 class="card-primary__heading h3">Out of the box solution for any industry</h3>
  <h2 class="card-primary__heading h2">Empowering you to go <span class="text-primary">Director to Consumer</span></h2>
  <div class="card-primary__body">
    <p>Regardless of your industry, SpeedToMarket provides you with the flexibility and safety you need to generate new opportunities.</p>
    <ul class="unordered-list">
      <li>Discover market insights to meet your customers expectations</li>
      <li>Limit overstocking. Produce only what works best for your market</li>
      <li>Outpace your competition by predicting emerging trends in your industry</li>
    </ul>
  </div>
  <div class="card-primary__footer"><a href="" class="btn btn--secondary">Get started</a></div>
</div>
