<div class="email-box">
    <div class="email-box__icon"><img src="./medias/icons/open-24-hours.svg" alt=""></div>
    <div class="email-box__body">
        <div class="email-box__name">Customer support</div>
        <div class="email-box__address" title="support@speedtomarket.io">support@speedtomarket.io</div>
    </div>
</div>