<div class="stm-section stm-section--revert js-handle-section">
  <div class="stm-section__media">
    <img src="medias/flexible.png" alt="flexible">
  </div>
  <div class="stm-section__info">
    <div class="card-primary">
      <h4 class="card-primary__sub-heading h4">Flexible</h4>
      <h3 class="card-primary__heading h3">Out of the box solution for any industry</h3>
      <div class="card-primary__body">
        <p>No matter your industry, SpeedToMarket provides you with the flexibility and the safety you need to generate
          new opportunities.</p>
      </div>
      <div class="card-primary__footer"><a href="" class="btn btn--secondary">Get started</a></div>
    </div>
  </div>
</div>

<div class="stm-section js-handle-section">
  <div class="stm-section__media">
    <video autoplay muted loop>
      <source src="medias/videos/manufacturing.mp4" type="video/mp4">
    </video>
  </div>
  <div class="stm-section__info">
    <div class="card-primary">
      <h4 class="card-primary__sub-heading h4">Industry 4.0 (AI Product)</h4>
      <h3 class="card-primary__heading h3">AI product recommendations give you the edge</h3>
      <div class="card-primary__body">
        <ul class="unordered-list">
          <li>Discover market insights to meet your customers expectations.</li>
          <li>Limit overstock situation. Produce only what will work best for you market.</li>
          <li>Outpace your competition by predicting emerging trends in your industry.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="stm-section stm-section--revert js-handle-section">
  <div class="stm-section__media">
    <video autoplay muted loop>
      <source src="medias/videos/intuitive.mp4" type="video/mp4">
    </video>
  </div>
  <div class="stm-section__info">
    <div class="card-primary">
      <h4 class="card-primary__sub-heading h4">Intuitive Design</h4>
      <h3 class="card-primary__heading h3">Simple Visual Interface</h3>
      <div class="card-primary__body">
        <p>Create your product, with unlimited customisations options. Add trading options and pricing to suit each
          customer and lauch immediately with a range of visual templates.</p>
      </div>
    </div>
  </div>
</div>

<div class="stm-section js-handle-section">
  <div class="stm-section__media">
    <video autoplay muted loop>
      <source src="medias/videos/industry.mp4" type="video/mp4">
    </video>
  </div>
  <div class="stm-section__info">
    <div class="card-primary">
      <h4 class="card-primary__sub-heading h4">Industry 4.0</h4>
      <h3 class="card-primary__heading h3">Real Time Production Tracking</h3>
      <div class="card-primary__body">
        <ul class="unordered-list">
          <li>Discover market insights to meet your customers expectations.</li>
          <li>Limit overstock situation. Produce only what will work best for you market.</li>
          <li>Outpace your competition by predicting emerging trends in your industry.</li>
        </ul>
      </div>
    </div>
  </div>
</div>