<section class="suggest">
  <div class="container-fluid">
    <h2 class="suggest__heading h2">Start your free trial</h2>
    <p class="suggest__description">You’re one click-away from experiencing the future of commerce.</p>
    <div class="suggest__action">
      <a href="" class="btn btn--primary">START 14-DAY FREE TRIAL</a>
    </div>
    <div class="suggest__alter">
      Already have an account? <a href="">Login</a>
    </div>
  </div>
</section>
<section class="suggest">
  <div class="container-fluid">
    <h2 class="suggest__heading h2">Transform you business today</h2>
    <div class="suggest__action">
      <a href="" class="btn btn--primary">TRY FOR FREE</a>
      <a href="" class="btn btn--secondary">Contact us</a>
    </div>
  </div>
</section>