<ul class="unordered-list">
  <li>Discover market insights to meet your customers expectations</li>
  <li>Limit overstocking. Produce only what works best for your market</li>
  <li>Outpace your competition by predicting emerging trends in your industry</li>
</ul>